mixin accordeon(arr)
    .ud-accordeon(class=attributes.class).js-accordeon
        each val in arr
            .ud-accordeon__item.js-accordeon-item
                button.ud-accordeon__btn.js-accordeon-btn= val.title
                .ud-accordeon__content.js-accordeon-content= val.content

