mixin answers()
    section.ud-block._white.ud-answers
        h2.txt-title-2.c-b.ud-answers__title Ответы на вопросы
        -
            var arr = [
                {
                    title: 'Есть ли у вас пробные занятия?',
                    content: 'Нет, пробных занятий у нас нет, чтобы попасть на занятия, нужно купить абонемент на семестр или год. Мы понимаем вашу тревогу и поэтому на неделю до начала каждого семестра мы проводим день открытых дверей с нашими лучшими занятиями предыдущего семестра. Все эти занятия могут посетить и родители, и дети.'
                },
                {
                    title: 'Можно ли купить абонемент в рассрочку?',
                    content: 'Абонемент на семестр купить в рассрочку нельзя, а годовой абонемент — можно. Вам нужно внести оплату 70% от стоимости абонемента сразу, а оставшиеся 30% — до середины первого семестра. Если у вас особый случай и вы хотите пересмотреть систему оплаты годового абонемента, напишите нам письмо hello@udetey.ru'
                },
                {
                    title: 'Что если мы передумали ходить или заболели?',
                    content: 'Если вы передумали ходить к нам, то мы можем вам вернуть 50% стоимости от абонемента, если семестр уже начался. Если же прошло больше половины занятий семестра, то стоимость не возвращается.'
                },
                {
                    title: 'Можно ли записать ребенка на курс старше?',
                    content: 'К сожалению, нет, это одно из самых строгих правил Универерситета детей. Однако если у вас есть причины почему мы должны рассмотреть ваш случай индивидуально, напишите нам письмо hello@udetey.ru'
                },
                {
                    title: 'Можно ли купить абонемент в подарок?',
                    content: 'Да, можно. Чтобы оформить подарочный сертификат, напишите нам письмо hello@udetey.ru'
                },
                {
                    title: 'Мы хотим ходить к вам группой из класса? Сделаете нам скидку?',
                    content: 'Да, мы делаем скидки одноклассникам, которые приходят группой от 5 человек, Чтобы узнать подробности, напишите нам письмо hello@udetey.ru'
                }
            ]
        +accordeon(arr).ud-answers__accordeon
