mixin banner()
    .presale-banner
        h4.presale-banner__title Предпродажа
        p.presale-banner__text
            |Первые абонементы на 2018/2019 учебный год.
            br
            |Акция продлится до 1 апреля.
        ul.presale-banner__params
            li.presale-banner__param._blink
                |#[span Абонементов осталось:] 100
            li.presale-banner__param
                |#[span Цена:] 10000 рублей