mixin comment(img, ext, qoute, author)
    .ud-comment(class=attributes.class)
        .ud-comment__image
            +imgSrcset(img,ext)
        p.txt-text-1.ud-comment__quote= qoute
        .ud-comment__author= author
