mixin doctype(bodyClass, profileHeader)
    doctype html
    html
        head
            title «Udetey»
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width")
            link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext",rel="stylesheet")
            link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;subset=cyrillic-ext", rel="stylesheet")
            link(rel='stylesheet', type='text/css', href='css/main.css')
        body(class=bodyClass)
            if profileHeader
                +profile-header()
            else
                +header()
            block
            +footer()
            script(src='js/main.js')