mixin how()
    section.ud-how.ud-block-1
        .txt-title-2.ud-how__title Как все устроено
        ul.ud-how__list
            each val in ['logo', 'phone', 'user']
                li.ud-how__item
                    .ud-how__image