mixin question()
    section.ud-question
        .ud-block._white.ud-question__block
            .ud-question__wrapper
                header.ud-question__header
                    include ../svg/questions.svg
                ul.ud-question__stats
                    -
                        var arr = [
                            {
                                digit: '1000',
                                comment: 'больше тысячи деских вопросов, на которые мы еще не ответили'
                            },
                            {
                                digit: '350',
                                comment: 'студентов от 7 до 14 лет'
                            },
                            {
                                digit: '60',
                                comment: 'ученых и экспертов каждый семестр'
                            },
                            {
                                digit: '0',
                                comment: 'научных открытий, но мы верим, что наши студенты изменят мир!'
                            }
                        ]
                    each val in arr
                        li.ud-question__stats-item
                            .ud-question__stats-digit= val.digit
                            .ud-question__stats-comment= val.comment
                p.txt-text-1.c-b.ud-question__text
                    |Мы отвечаем на детские вопросы с научной точки зрения: ищем, в какой научной плоскости лежит ответ, придумываем точку удивления, чтобы с самого начала захватить внимание наших студентов, разрабатываем опыты и эксперименты для занятия. Мы не просто рассказываем интересные факты, а учим наших студентов самостоятельно выдвигать гипотезы и делать выводы. Если у вас есть вопрос, вы можете смело его задать. Возможно, мы сделаем из него занятие уже в следующем семестре.
                .ud-question__btn
                    button.ud-btn._big._blue.js-modal-btn(data-modal='childq') Задать детский вопрос
        +childq()