mixin scntsts-modal()
    .ud-scntsts-modal(style='display:none;', data-modal-template='scntsts', data-modal-dynamic='')
        .ud-scntsts-modal__wrapper
            .ud-scntsts-modal__image
                img(src='', data-modal-output='bgi').js-scntsts-modal-img
            .ud-scntsts-modal__title
                span.txt-title-4(data-modal-output='name')
                |#[em.txt-title-4 . ]
                span.txt-title-4(data-modal-output='job')
            .txt-text-2.ud-scntsts-modal__desc.js-scntsts-modal-desc(data-modal-output='desc')
                | В 1998 году поступил в аспирантуру Пулковской обсерватории. По окончании защитил кандидатскую диссертацию, посвященную созданию астрометрического звездного каталога.<br>
                | С 2003 года работает в Лаборатории астрометрии и звездной астрономии Пулковской обсерватории. В настоящее время — глава лаборатории. Проводимые исследования непосредственно связаны с наблюдениями на инструментах Пулковской обсерватории и на телескопах разных обсерваторий мира.<br>
                | Тематика научного поиска: от астрометрии спутников планет-гигантов до звездной кинематики. В настоящее время в центре  внимания — изучение близких к Солнцу карликовых звезд.<br>
                | Даже удалось сделать маленькие открытия — обнаружить несколько двойных и тройных систем в околосолнечном пространстве Галактики.