* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 65px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainpage {
    background: url('~mainpage-bg.jpg');
}

//display: none;
.d-none {

    &._xs {

        &-minus {
            @include xs() {
                display: none;
            }
        }

        &-plus {

            @include after-xs() {
                display: none;
            }
        }
    }

    &._md {

        &-minus {
            @include md() {
                display: none;
            }
        }

        &-plus {

            @include after-md() {
                display: none;
            }
        }
    }
}