.ud-input {
    margin: 0;
    padding: 0 5px;
    display: block;
    width: 100%;
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #d4d4d4;
    outline: none;
    box-shadow: none;
    @extend .txt-text-1;
    color: #000;
    text-align: left;

    &._textarea {
        height: 100px;
    }

    &:hover,
    &:focus {
        border: solid 1px #d4d4d4;
        outline: none;
        box-shadow: none;
    }
}