.ud-program {
    margin: 0 auto 60px;
    max-width: 1170px;

    @include sm() {
        margin-bottom: 34px;
    }

    &__title {
        padding: 0 10px;
        margin: 0 auto 10px;
        max-width: 980px;

        @include md() {
            margin-bottom: 5px;
        }
    }

    &__text {
        padding: 0 10px;
        margin: 0 auto 32px;
        max-width: 980px;

        @include md() {
            margin-bottom: 20px;
        }
    }

    &__wrapper {
        background: url('~programs-bkg.svg') no-repeat center top;
        background-size: 100% auto;
    }

    &__list {
        padding: 29px 10px;
        margin: 0 auto;
        width: 100%;
        max-width: 1058px;
        display: flex;
        justify-content: space-between;

        @include md() {
            padding: 0 0 10px;
            justify-content: center;
        }

        @include sm() {
            padding: 0;
            flex-wrap: wrap;
            width: auto;
        }
    }

    &__item {

        @include md() {

            &:not(:last-child) {
                padding-right: 18px;
            }
        }

        @include sm() {
            flex: 1 1 50%;
            max-width: 50%;
            padding-bottom: 16px;

            &:nth-child(2n+1) {
                padding-right: 8px;
                display: flex;
                justify-content: flex-end;
            }

            &:nth-child(2n) {
                padding-right: 0;
                padding-left: 8px;
            }
        }

        &:nth-child(1) {

            .ud-program__hexagon {
                background-color: #ff6200;
            }
        }

        &:nth-child(2) {

            .ud-program__hexagon {
                background-color: #ffba01;
            }
        }

        &:nth-child(3) {

            .ud-program__hexagon {
                background-color: #00b253;
            }
        }

        &:nth-child(4) {

            .ud-program__hexagon {
                background-color: #3fa4ff;
            }
        }
    }

    &__hexagon {

        &-age {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            @include rm-400();
            font-size: 15px;
            line-height: 1.33;
            text-align: center;
            color: #fff;

            @include md() {
                top: -15px;
                font-size: 12px;
                line-height: 1.33;
            }
        }

        h4, p {
            margin: 0;
            padding: 0;
        }

        h4 {
            padding: 25px 0 15px;
            @include rm-700();
            font-size: 40px;
            line-height: 0.7;
            text-align: center;
            color: #fff;
            text-shadow: 0 1px 1px rgba(0,0,0,.3);

            @include md() {
                padding: 5px 0 5px;
                font-size: 25px;
                line-height: 1.12;
            }
        }

        p {
            margin: 0 20px;
            @include rm-400();
            font-size: 15px;
            line-height: 1.33;
            text-align: center;
            color: #fff;

            @include md() {
                margin: 0 2px;
                font-size: 12px;
                line-height: 1.33;
            }
        }
    }
}