.ud-intro-ticket {
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
        margin: 0 20px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__side {
        opacity: .3;
        @include r-400();
        font-size: 17px;
        line-height: 1.29;
        color: #fff;

        &._right {
            order: -1;
            text-align: right;
        }
    }
}