.ud-volunteers {
    padding: 0 10px;
    margin: 50px auto 80px;
    max-width: 980px;

    @include sm() {
        margin-bottom: 50px;
    }

    &__image {
        margin: 0 auto 30px;
        line-height: 0;
        text-align: center;

        img {
            max-width: 100%;
        }

        @include sm() {
            margin-bottom: 20px;
        }
    }

    &__title {
        margin: 0 0 10px;

        @include sm() {
            margin-bottom: 5px;
        }
    }

    &__text {
        margin: 0 0 20px;
    }

    &__btn {
        text-align: center;
    }
}