.ud-ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        margin: 0;
        padding: 0 0 0 26px;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            @include spriteX($arrow-right, $arrow-right-2x);
        }
    }
}