.ud-question {
    padding: 0 40px;
    margin: 139px auto 80px;

    @include md() {
        display: none;
    }

    &__block {
        padding: 40px 20px;
        margin: 0 auto;
        max-width: 1200px;
    }

    &__wrapper {
        margin: 0 auto;
        max-width: 980px;
    }

    &__header {
        margin: -99px 0 20px;
        display: flex;
        justify-content: center;
    }

    &__stats {
        margin: 0 auto 20px;
        max-width: 905px;
        display: flex;
        justify-content: space-between;

        &-item {
            flex: 1 1 200px;
            max-width: 200px;
        }

        &-digit {
            @include rm-700();
            font-size: 70px;
            text-align: center;
            color: $blue-violet;
            text-shadow: 0 1px 1px rgba(0,0,0,.3);
        }

        &-comment {
            display: flex;
            align-items: center;
            min-height: 60px;
            opacity: .8;
            @include r-400();
            font-size: 15px;
            line-height: 1.33;
            text-align: center;
            color: #000;
        }
    }

    &__text {
        margin: 0 0 20px;
    }

    &__btn {
        text-align: center;
    }
}