.ud-header {
    padding: 0 40px;
    height: 65px;
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;

    &._profile {
        height: auto;
        position: static;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #000;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);

        &:after {
            display: none;
        }
    }

    @include lg() {
        padding: 0 10px;
        justify-content: space-between;
        background: #000;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 40px;
        right: 40px;
        height: 1px;
        background: #fff;
        opacity: .1;
    }

    &__wrapper {

        @include lg() {
            flex: 1 1 30%;

            &._enter {
                display: flex;
                justify-content: flex-end;
            }
        }

        &._sandwich {
            display: none;

            @include lg() {
                display: block;
            }
        }
    }

    &__side {
        flex: 1 1 25%;
        max-width: 25%;
        display: flex;
        align-items: center;

        &._right {
            position: relative;
            z-index: 2;
            justify-content: flex-end;
        }

        @include lg() {
            flex: 1 1 30px;
            max-width: 30px;
        }
    }

    &__sandwich {
        display: flex;
        align-items: center;
        width: 24px;
        height: 22px;
        padding: 0;
        position: relative;
        border-radius: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        &:hover,
        &:focus {
            outline: none;
            border: none;
            background: none;
        }

        &:before,
        &:after,
        span {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            border-radius: 4px;
            background: $shamrock;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        span {
            position: static;
        }
    }

    &__logo {
        margin-right: 33px;
        line-height: 0;

        @include lg() {
            margin: 0;
            width: 30px;
            overflow: hidden;
        }
    }

    &._profile & {

        &__logo {
            margin-right: 23px;
            width: 30px;
            overflow: hidden;

            @include lg() {
                margin: 0;
            }
        }
    }

    &__tel {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        text-decoration: none;

        @include lg() {
            display: none;
        }

        svg {
            margin-right: 5px;
        }

        span {
            @include rm-400();
            font-size: 16px;
            color: #fff;
        }
    }

    &__nav {
        margin-right: 25px;

        @include lg() {
            padding: 15px 0 0;
            margin: 0;
            position: fixed;
            top: 65px;
            left: 0;
            right: 0;
            background-color: #2c2c2c;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,.7);
        }
    }

    &__btn {
        background-color: $shamrock;
    }

    &__enter-link {
        padding: 0;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &:focus {
            border: none;
            outline: none;
            background: none;
        }

        span {
            margin-right: 7px;
        }
    }

    &__tabs {
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    &__tab {
        display: flex;
        align-items: stretch;
        min-height: 65px;

        &:not(:last-child) {
            margin-right: 30px;

            @include lg() {
                margin-right: 15px;
            }
        }

        &-link {
            display: flex;
            align-items: center;
            opacity: .5;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            text-decoration: none;

            &._active {
                opacity: 1;
                border-bottom: 5px solid $shamrock;
            }
        }
    }

    &__menu {
        padding: 0;
        display: block;
        width: 30px !important;
        height: 30px !important;
        overflow: hidden;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        cursor: pointer;

        &:hover,
        &:focus {
            border: none;
            outline: none;
            background-color: transparent;
        }
    }

    &__messages {
        flex: 1 1 100%;
        margin: 0 -40px;
        min-width: 100%;
    }
}