.ud-vlntr {
    margin-top: -65px;
    padding: 0 0 82px;
    background: #fff;
    @extend .txt-text-2;

    @include lg() {
        margin-top: 0;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 498px;
        background-image: url('~volunteers-header.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include md() {
            height: 249px;
        }
    }

    &__title {
        padding: 0 20px 30px;
        flex: 1 1 780px;
        max-width: 780px;
    }

    &__main {
        padding: 25px 20px 0;
        margin: 0 auto;
        max-width: 900px;
    }

    &__desc {
        margin-bottom: 30px;
    }

    &__p {
        margin: 0 auto;
        max-width: 740px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__block {
        margin-bottom: 20px;
        padding: 30px 0;
    }

    &__wrapper {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 760px;
    }

    &__subtitle {
        margin-bottom: 10px;

        &._vol {
            margin-bottom: 20px;
        }
    }

    &__list {
        margin: 30px auto 50px;
        max-width: 740px;
    }

    &__person {

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__card {
        margin: 0 auto;
        max-width: 740px;

        &-image {
            margin: 0 0 40px;
            line-height: 0;
            text-align: center;

            img {
                max-width: 100%;
            }
        }

        &-list {
            margin: 20px 0 0;
        }

        &-item {

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            b, span, a {
                display: block;
            }

            b {
                margin-bottom: 5px;
            }

            em {
                display: inline-block;
                vertical-align: top;
                margin-top: 10px;
                background-color: $dolly;
                font-style: normal;
            }
        }
    }
}