.ud-block {
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 2px;
    background: $butterfly-bush;

    &._white {
        background-color: #fff;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.5);
    }
}

.ud-block-1 {
    border-radius: 3px;
    background-color: #f6f6f6;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
}