@font-face {
  font-family: "DINCondensed-Regular";
  src: url("DNC57___.eot");
  src: url("DNC57___.eot?#iefix") format("embedded-opentype"),
         url("DNC57___.woff2") format("woff2"),
         url("DNC57___.woff") format("woff"),
         url("DNC57___.ttf") format("ttf"),
         url("DNC57___.svg#DINCondensed-Regular") format("svg");
  font-style: normal;
  font-weight: regular;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("ProximaNova-Bold.eot");
  src: url("ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
         url("ProximaNova-Bold.woff2") format("woff2"),
         url("ProximaNova-Bold.woff") format("woff"),
         url("ProximaNova-Bold.ttf") format("ttf"),
         url("ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("ProximaNova-Regular.eot");
  src: url("ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
         url("ProximaNova-Regular.woff2") format("woff2"),
         url("ProximaNova-Regular.woff") format("woff"),
         url("ProximaNova-Regular.ttf") format("ttf"),
         url("ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("ProximaNova-Semibold.eot");
  src: url("ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
         url("ProximaNova-Semibold.woff2") format("woff2"),
         url("ProximaNova-Semibold.woff") format("woff"),
         url("ProximaNova-Semibold.ttf") format("ttf"),
         url("ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-style: normal;
  font-weight: demi;
}
@font-face {
  font-family: "DINCondensed-Regular";
  src: url("DNC57___.eot");
  src: url("DNC57___.eot?#iefix") format("embedded-opentype"),
         url("DNC57___.woff2") format("woff2"),
         url("DNC57___.woff") format("woff"),
         url("DNC57___.ttf") format("ttf"),
         url("DNC57___.svg#DINCondensed-Regular") format("svg");
  font-style: normal;
  font-weight: regular;
}

@font-face {
  font-family: "DINCondensed-Regular";
  src: url("DNC57___.eot");
  src: url("DNC57___.eot?#iefix") format("embedded-opentype"),
         url("DNC57___.woff2") format("woff2"),
         url("DNC57___.woff") format("woff"),
         url("DNC57___.ttf") format("ttf"),
         url("DNC57___.svg#DINCondensed-Regular") format("svg");
  font-style: normal;
  font-weight: regular;
}