+doctype('mainpage')
    .ud-banners
        +banner()
    +intro()
    +how()
    +program()
    +comment(
        'img/mainpage-comment-photo-1',
        'png',
        'Университет детей в Петербурге это такое странное место, где детям рассказывают самые удивительные вещи. Гаврила ходит на их лекции второй год и чего только оттуда не приносит. Осенью он, например, изучал черепа в Институте антропологии. А весной ему рассказывали про важность выбора, про поцелуи, про Сатурн и про то, почему все люди странные.',
        'Кира Долинина и Гаврила, «Импульс»'
    )
    +question()
    +comment(
        'img/mainpage-comment-photo-3',
        'png',
        'Методика ведения занятий интригует, дети чувствуют себя равными взрослым и способными самостоятельно мыслить. Сын называет Университет детей «альтернативной школой» и мечтает об экспансии данного подхода в систему современного среднего образования!',
        'Надежда Волова и Глеб, «Динамика»'
    )
    +scientists()
    +comment(
        'img/mainpage-comment-photo-2',
        'png',
        'Чудесно, что мы разговариваем с детьми на одном языке и что мы не боимся говорить детям о сложных вещах. Самому ученому важно научиться говорить о сложных вещах простым языком, поэтому Университет детей можно назвать двойным образовательным процессом',
        'Наталья Католикова, нейробиолог'
    )
    +volunteers()
    +answers()